:root {
    --player-bar-height: 105px;
}

.main-rootlist-rootlistDividerGradient {
    background: unset;
}

input {
    background-color: unset !important;
    border-bottom: solid 1px var(--spice-text) !important;
    border-radius: 0 !important;
    padding: 6px 10px 6px 48px;
    color: var(--spice-text) !important;
}

.x-searchInput-searchInputSearchIcon,
.x-searchInput-searchInputClearButton {
    color: var(--spice-text) !important;
}

.main-home-homeHeader,
.x-entityHeader-overlay,
.x-actionBarBackground-background,
.main-actionBarBackground-background,
.main-entityHeader-overlay,
.main-entityHeader-backgroundColor
{
    background-color: unset !important;
    background-image: unset !important;
}

.main-playButton-PlayButton.main-playButton-primary {
    color: white;
}

.connect-title, .connect-header {
    display: none;
}

.connect-device-list {
    margin: 0px -5px;
}

/* Remove Topbar background colour */
.main-topBar-background {
    background-color: unset !important;
}
.main-topBar-overlay {
    background-color: #292B2F;
}

.main-entityHeader-shadow,
.main-contextMenu-menu,
.connect-device-list-container {
    box-shadow: 0 4px 20px #21212130;
}

.main-trackList-playingIcon {
    filter: grayscale(1);
}

span.artist-artistVerifiedBadge-badge svg:nth-child(1) {
    fill: black;
}

/* Full window artist background */
.main-entityHeader-background.main-entityHeader-gradient {
    opacity: 0.3;
}

.main-entityHeader-container.main-entityHeader-withBackgroundImage,
.main-entityHeader-background,
.main-entityHeader-background.main-entityHeader-overlay:after {
    height: 100vh;
}

.main-entityHeader-withBackgroundImage .main-entityHeader-headerText {
    justify-content: center;
}

.main-entityHeader-container.main-entityHeader-nonWrapped.main-entityHeader-withBackgroundImage {
    padding-left: 9%;
}

.main-entityHeader-background.main-entityHeader-overlay:after {
    background-image: linear-gradient(transparent,transparent),linear-gradient(var(--spice-main), var(--spice-main));
}

.artist-artistOverview-overview .main-entityHeader-withBackgroundImage h1 {
    font-size: 175px !important;
    line-height: 175px !important;
}

/** Hightlight selected playlist */
.main-rootlist-rootlistItemLink.main-rootlist-rootlistItemLinkActive, .main-rootlist-rootlistItemLink-scss.main-rootlist-rootlistItemLinkActive-scss {
    background: #393C43;
    border-radius: 4px;
    padding: 0 10px;
    margin: 0 5px 0 -10px;
}

.main-navBar-navBarLinkActive, .main-navBar-navBarLinkActive-scss {
    background: #393C43;
}

.main-contextMenu-menu, .main-contextMenu-menu-scss {
    background-color: #393C43;
}

.main-contextMenu-menuHeading,
.main-contextMenu-menuItemButton,
.main-contextMenu-menuItemButton:not(.main-contextMenu-disabled):focus,
.main-contextMenu-menuItemButton:not(.main-contextMenu-disabled):hover,
.main-rootlist-textWrapper,
.main-type-viola {
    color: white !important;
}

/** Cards */
.main-cardImage-imageWrapper, .main-cardImage-imageWrapper-scss {
    background-color: transparent;
}

.main-rootlist-rootlistDivider, .main-rootlist-rootlistDivider-scss {
    background-color: unset;
}

.main-nowPlayingBar-nowPlayingBar, .main-nowPlayingBar-nowPlayingBar-scss  {
    height: var(--player-bar-height);
}

/*Friends*/
.main-buddyFeed-expanded, .main-buddyFeed-expanded-scss
{
    padding-top: 25px;
    background-color: #2F3136 !important;
}

.main-buddyFeed-activityMetadata .main-buddyFeed-artistAndTrackName a,
.main-buddyFeed-activityMetadata .main-buddyFeed-username a,
.main-buddyFeed-activityMetadata .main-buddyFeed-playbackContextLink,
.main-buddyFeed-activityMetadata-scss .main-buddyFeed-artistAndTrackName-scss a,
.main-buddyFeed-activityMetadata-scss .main-buddyFeed-username-scss a,
.main-buddyFeed-activityMetadata-scss .main-buddyFeed-playbackContextLink-scss
{
    color:#8E9197 !important;
}

/*Left sidebar*/
.main-rootlist-rootlistDividerGradient, .main-rootlist-rootlistDivider, .main-rootlist-rootlistDividerGradient-scss, .main-rootlist-rootlistDivider-scss
{
    opacity: 0;
}

.main-navBar-navBarLinkActive, .main-navBar-navBarLinkActive-scss
{
    background-color: #393C43;
}

.main-rootlist-textWrapper, .main-rootlist-textWrapper-scss
{
    color: #858A91;
}

/*Hide scrollbars*/
.main-rootlist-rootlistPlaylistsScrollNode .os-scrollbar, .main-buddyFeed-scrollableArea .os-scrollbar, .main-rootlist-rootlistPlaylistsScrollNode-scss .os-scrollbar, .main-buddyFeed-scrollableArea-scss .os-scrollbar
{
    visibility: hidden;
}

/*Now playing color*/
.main-trackList-rowTitle, .standalone-ellipsis-one-line, .main-type-ballad, .main-trackList-rowTitle-scss, .standalone-ellipsis-one-line-scss, .main-type-ballad-scss
{
	color: #FFFFFF !important;
}

/*scrollbar*/
.os-scrollbar-handle, .os-scrollbar-handle-scss
{
    color: #202225 !important;
    background-color: #202225 !important;
    border-radius: 5px;
    width:5px;
    margin-right: 0px;
}

.os-scrollbar-track, .os-scrollbar-track-scss
{
    color: #2E3338 !important;
    background-color: #2E3338 !important;
    border-radius: 5px;
    width:5px;
    margin-right: -5px !important;
}

aside .os-scrollbar-track, aside .os-scrollbar-track-scss
{
    display: none;
}

/*Other*/
.main-playPauseButton-button, .main-playPauseButton-button-scss {
    background-color: var(--spice-button);
    color: white;
}

.progress-bar__fg, .progress-bar__fg-scss
{
    background-color: #FFFFFF !important;
}

.main-trackList-playingIcon-scss
{
    color: white;
}

/*Discord status*/
/*Online status*/
.main-avatar-withBadge-scss::after, .main-buddyFeed-avatarContainer .main-avatar-withBadge::after
{
    background-color: #389E58 !important;
    
    border: solid #2F3136 2px !important;
    border-radius: 50%;

    content: "" !important;

    height: 11px !important;
    width: 11px !important;

    top: 25px !important;
    right: 0 !important;

    position: absolute !important;

    z-index: 100 !important;
}

aside figure.main-avatar-withBadge-scss, .main-buddyFeed-avatarContainer .main-avatar-withBadge /*Avatar Opacity when online*/
{
    opacity: 1 !important;
}
aside figure, .main-buddyFeed-avatarContainer .main-avatar-avatar /*Avatar Opacity when offline*/
{
    opacity: 0.3;
}